SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin

20 12 * * * chmod +x /home/ubuntu/DevOps/backupDB/mongo/backup.sh && /home/ubuntu/DevOps/backupDB/mongo/backup.sh >> /home/ubuntu/DevOps/backupDB/logs/mongo-backup.log 2>&1